<h1>List of Authors</h1>

<ul>
  <% @authors.each do |author| %>
    <li><a href="/authors/<%= author.id %>"><%= author.name %></a></li>
  <% end %>
</ul>

<a href="/authors/new">Donate an Author to the library</a>
