<h1>Books by <%= @author.name %></h1>

<ul>
  <% @author.books.each do |book| %>
    <li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
  <% end %>
</ul>

<a href="/authors">List of Authors</a>
